@use './../../../styles/settings/dimensions';

.container {
    background: #000;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: dimensions.$container-side-spacing;
    padding: 0;
    max-width: dimensions.$container-max-width;
    margin: 0 auto;
}

.listItem {
    padding: 0;
}

.link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 0.5rem dimensions.$container-side-spacing;
}

.linkIsActive {
    background: #333;
    color: #fff;
}
