.list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    background: #000;
    padding: 0;
}

.listItem {
    padding: 0;
}

.link {
    display: block;
    color: #999;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.linkIsActive {
    background: #333;
    color: #fff;
}
