@use './../../../styles/settings/breakpoints';
@use './../../../styles/settings/dimensions';
@import 'sass-mq';

.header {
    margin-bottom: 1rem;
}

.content {
    max-width: dimensions.$container-max-width;
    margin: 0 auto;
    padding: 0 dimensions.$container-side-spacing;

    @include mq($from: desktop) {
        padding: 0;
    }
}
